body{
    margin:0;
    font-family:Segoe UI;
    background:#0b1220;
    color:white;
}

/* ===== GRID 2x2 ===== */

.grid-container{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr;
    height:100vh;
}

.box{
    border:2px solid #1e293b;
    padding:15px;
    box-sizing:border-box;
}

/* ===== TELEMETRY ===== */

table{
    width:100%;
    border-collapse:collapse;
    font-size:18px;
}

td{
    padding:8px;
    border-bottom:1px solid #1e293b;
}

td:last-child{
    text-align:right;
    color:#22c55e;
    font-weight:bold;
}

/* ===== MAP ===== */

#map{
    width:100%;
    height:100%;
}

/* ===== RESERVED ===== */

.reserved{
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:24px;
    color:#6b7280;
}
