body{
    margin:0;
    font-family:Arial;
    background:#0b1220;
    color:white;
}

.container{
    display:flex;
    height:100vh;
}

.telemetry{
    width:30%;
    background:#111827;
    padding:20px;
}

.grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:8px;
}

.grid div{
    background:#1f2937;
    padding:10px;
    border-radius:5px;
}

.right{
    width:70%;
    padding:20px;
    overflow:auto;
}

canvas{
    height:220px !important;
    margin-bottom:25px;
    background:#0f172a;
    border-radius:10px;
}

#map{
    height:350px;
    border-radius:10px;
}
